body, button {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: fantasy;
}

button {
  font-size: 1.25em;
}

#game {
  margin: auto;
  width: 402px;
}

#tic-tac-toe-board {
  display: grid;
  height: 400px;
  width: 400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: rgb(255, 238, 0);
  margin: 35px 0;
  position: relative;
}

.actions {
  display: flex;
}

.announcement {
  font-size: 3em;
  text-align: center;
  color: rgb(218, 123, 0);
}

.sub-announcement {
  font-size: 2em;
  text-align: center;
  color: rgb(218, 123, 0);
}

.col1 {
  justify-self: start;
}

.col2 {
  justify-self: center;
}

.col3 {
  justify-self: end;
}

.row1 {
  align-self: start;
}

.row2 {
  align-self: center;
}

.row3 {
  align-self: end;
}

.spacer {
  flex: 1 0 0px;
}

.square {
  background-color: white;
  height: 130px;
  width: 130px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.centered-pic {
  height: 125px;
  width: 125px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
